-- CreateTable
CREATE TABLE "Alerts" (
    "Id" TEXT NOT NULL,
    "CargoId" TEXT NOT NULL,
    "Type" TEXT NOT NULL,
    "Message" TEXT,
    "TriggeredAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "Resolved" BOOLEAN NOT NULL DEFAULT false,
    "TriggeredBy" TEXT,

    CONSTRAINT "Alerts_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "Cargo" (
    "Id" TEXT NOT NULL,
    "TrackingCode" TEXT NOT NULL,
    "QRCode" TEXT,
    "Description" TEXT,
    "Status" TEXT NOT NULL,
    "WeightKg" DOUBLE PRECISION NOT NULL,
    "VolumeM3" DOUBLE PRECISION,
    "DimensionsCm" JSONB,
    "Quantity" INTEGER NOT NULL,
    "EntryDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ExitDate" TIMESTAMP(3),
    "IsPerishable" BOOLEAN NOT NULL DEFAULT false,
    "IsHazardousMaterial" BOOLEAN NOT NULL DEFAULT false,
    "IsHighValue" BOOLEAN NOT NULL DEFAULT false,
    "DeclaredValueUSD" DOUBLE PRECISION,
    "TemperatureRequirement" TEXT,
    "HandlingInstructions" TEXT,
    "AirWaybillNumber" TEXT,
    "HouseAirWaybillNumber" TEXT,
    "MasterAirWaybillNumber" TEXT,
    "ManifestNumber" TEXT,
    "FlightNumber" TEXT,
    "FlightDate" TIMESTAMP(3),
    "OriginAirport" TEXT,
    "DestinationAirport" TEXT,
    "CustomsStatus" TEXT,
    "CustomsDeclarationNumber" TEXT,
    "InsurancePolicyNumber" TEXT,
    "ArrivalDate" TIMESTAMP(3),
    "DepartureDate" TIMESTAMP(3),
    "SealNumber" TEXT,
    "InternalReference" TEXT,
    "LastInspectionDate" TIMESTAMP(3),
    "DamageReported" BOOLEAN NOT NULL DEFAULT false,
    "DamageDescription" TEXT,
    "CargoType" TEXT,
    "ContainerNumber" TEXT,
    "ULDNumber" TEXT,
    "Shipper" JSONB,
    "Consignee" JSONB,
    "WarehouseId" TEXT NOT NULL,
    "RackId" TEXT NOT NULL,
    "LevelId" TEXT NOT NULL,
    "ColumnId" TEXT NOT NULL,
    "CreatedBy" TEXT,

    CONSTRAINT "Cargo_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "CargoDocuments" (
    "Id" TEXT NOT NULL,
    "CargoId" TEXT NOT NULL,
    "FileUrl" TEXT NOT NULL,
    "Type" TEXT NOT NULL,
    "Metadata" JSONB,
    "CreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "CreatedBy" TEXT,

    CONSTRAINT "CargoDocuments_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "CargoLocationHistory" (
    "Id" TEXT NOT NULL,
    "CargoId" TEXT NOT NULL,
    "FromRackId" TEXT,
    "FromLevelId" TEXT,
    "FromColumnId" TEXT,
    "ToRackId" TEXT,
    "ToLevelId" TEXT,
    "ToColumnId" TEXT,
    "MovedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "MovedBy" TEXT,

    CONSTRAINT "CargoLocationHistory_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "CargoStatusHistory" (
    "Id" TEXT NOT NULL,
    "CargoId" TEXT NOT NULL,
    "PreviousStatus" TEXT,
    "NewStatus" TEXT NOT NULL,
    "ChangedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ChangedBy" TEXT,

    CONSTRAINT "CargoStatusHistory_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "Categories" (
    "Id" TEXT NOT NULL,
    "Name" TEXT NOT NULL,
    "Icon" TEXT,
    "Color" TEXT,
    "IsActive" BOOLEAN NOT NULL DEFAULT true,
    "CreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "CreatedBy" TEXT,

    CONSTRAINT "Categories_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "Deliveries" (
    "Id" TEXT NOT NULL,
    "CargoId" TEXT NOT NULL,
    "Receiver" TEXT NOT NULL,
    "DeliveredAt" TIMESTAMP(3) NOT NULL,
    "VerifiedBy" TEXT NOT NULL,
    "DeliveredBy" TEXT,

    CONSTRAINT "Deliveries_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "EmailOTPs" (
    "Id" TEXT NOT NULL,
    "Email" TEXT NOT NULL,
    "Otp" TEXT NOT NULL,
    "ExpiresAt" TIMESTAMP(3) NOT NULL,
    "Used" BOOLEAN NOT NULL DEFAULT false,
    "CreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "EmailOTPs_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "Permissions" (
    "Id" TEXT NOT NULL,
    "Name" TEXT NOT NULL,

    CONSTRAINT "Permissions_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "RackColumns" (
    "Id" TEXT NOT NULL,
    "LevelId" TEXT NOT NULL,
    "ColumnCode" VARCHAR(3) NOT NULL,

    CONSTRAINT "RackColumns_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "RackLevels" (
    "Id" TEXT NOT NULL,
    "RackId" TEXT NOT NULL,
    "LevelNumber" INTEGER NOT NULL,

    CONSTRAINT "RackLevels_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "Racks" (
    "Id" TEXT NOT NULL,
    "Name" TEXT NOT NULL,
    "WarehouseId" TEXT NOT NULL,
    "Capacity" INTEGER NOT NULL,
    "CreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "CreatedBy" TEXT,
    "Code" VARCHAR(5),

    CONSTRAINT "Racks_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "RolePermissions" (
    "RoleId" TEXT NOT NULL,
    "PermissionId" TEXT NOT NULL,

    CONSTRAINT "RolePermissions_pkey" PRIMARY KEY ("RoleId","PermissionId")
);

-- CreateTable
CREATE TABLE "Roles" (
    "Id" TEXT NOT NULL,
    "Name" TEXT NOT NULL,

    CONSTRAINT "Roles_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "Sessions" (
    "Id" TEXT NOT NULL,
    "UserId" TEXT NOT NULL,
    "Token" TEXT NOT NULL,
    "UserAgent" TEXT,
    "IpAddress" TEXT,
    "CreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ExpiresAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Sessions_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "Transfers" (
    "Id" TEXT NOT NULL,
    "CargoId" TEXT NOT NULL,
    "FromWarehouseId" TEXT NOT NULL,
    "ToWarehouseId" TEXT NOT NULL,
    "TransferDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "Notes" TEXT,
    "TransferredBy" TEXT,

    CONSTRAINT "Transfers_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "UserRoles" (
    "UserId" TEXT NOT NULL,
    "RoleId" TEXT NOT NULL,

    CONSTRAINT "UserRoles_pkey" PRIMARY KEY ("UserId","RoleId")
);

-- CreateTable
CREATE TABLE "Users" (
    "Id" TEXT NOT NULL,
    "Email" TEXT NOT NULL,
    "User" TEXT NOT NULL,
    "Password" TEXT,
    "IsActive" BOOLEAN NOT NULL DEFAULT true,
    "CreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Users_pkey" PRIMARY KEY ("Id")
);

-- CreateTable
CREATE TABLE "Warehouse" (
    "Id" TEXT NOT NULL,
    "Name" TEXT NOT NULL,
    "IsActive" BOOLEAN NOT NULL DEFAULT true,
    "CreatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "CreatedBy" TEXT,

    CONSTRAINT "Warehouse_pkey" PRIMARY KEY ("Id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Cargo_TrackingCode_key" ON "Cargo"("TrackingCode");

-- CreateIndex
CREATE UNIQUE INDEX "Permissions_Name_key" ON "Permissions"("Name");

-- CreateIndex
CREATE UNIQUE INDEX "Roles_Name_key" ON "Roles"("Name");

-- CreateIndex
CREATE UNIQUE INDEX "Users_Email_key" ON "Users"("Email");

-- AddForeignKey
ALTER TABLE "Alerts" ADD CONSTRAINT "Alerts_CargoId_fkey" FOREIGN KEY ("CargoId") REFERENCES "Cargo"("Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Alerts" ADD CONSTRAINT "Alerts_TriggeredBy_fkey" FOREIGN KEY ("TriggeredBy") REFERENCES "Users"("Id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cargo" ADD CONSTRAINT "Cargo_ColumnId_fkey" FOREIGN KEY ("ColumnId") REFERENCES "RackColumns"("Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cargo" ADD CONSTRAINT "Cargo_CreatedBy_fkey" FOREIGN KEY ("CreatedBy") REFERENCES "Users"("Id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cargo" ADD CONSTRAINT "Cargo_LevelId_fkey" FOREIGN KEY ("LevelId") REFERENCES "RackLevels"("Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cargo" ADD CONSTRAINT "Cargo_RackId_fkey" FOREIGN KEY ("RackId") REFERENCES "Racks"("Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cargo" ADD CONSTRAINT "Cargo_WarehouseId_fkey" FOREIGN KEY ("WarehouseId") REFERENCES "Warehouse"("Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CargoDocuments" ADD CONSTRAINT "CargoDocuments_CargoId_fkey" FOREIGN KEY ("CargoId") REFERENCES "Cargo"("Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CargoDocuments" ADD CONSTRAINT "CargoDocuments_CreatedBy_fkey" FOREIGN KEY ("CreatedBy") REFERENCES "Users"("Id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CargoLocationHistory" ADD CONSTRAINT "CargoLocationHistory_CargoId_fkey" FOREIGN KEY ("CargoId") REFERENCES "Cargo"("Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CargoLocationHistory" ADD CONSTRAINT "CargoLocationHistory_MovedBy_fkey" FOREIGN KEY ("MovedBy") REFERENCES "Users"("Id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CargoStatusHistory" ADD CONSTRAINT "CargoStatusHistory_CargoId_fkey" FOREIGN KEY ("CargoId") REFERENCES "Cargo"("Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CargoStatusHistory" ADD CONSTRAINT "CargoStatusHistory_ChangedBy_fkey" FOREIGN KEY ("ChangedBy") REFERENCES "Users"("Id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Categories" ADD CONSTRAINT "Categories_CreatedBy_fkey" FOREIGN KEY ("CreatedBy") REFERENCES "Users"("Id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Deliveries" ADD CONSTRAINT "Deliveries_CargoId_fkey" FOREIGN KEY ("CargoId") REFERENCES "Cargo"("Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Deliveries" ADD CONSTRAINT "Deliveries_DeliveredBy_fkey" FOREIGN KEY ("DeliveredBy") REFERENCES "Users"("Id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RackColumns" ADD CONSTRAINT "RackColumns_LevelId_fkey" FOREIGN KEY ("LevelId") REFERENCES "RackLevels"("Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RackLevels" ADD CONSTRAINT "RackLevels_RackId_fkey" FOREIGN KEY ("RackId") REFERENCES "Racks"("Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Racks" ADD CONSTRAINT "Racks_CreatedBy_fkey" FOREIGN KEY ("CreatedBy") REFERENCES "Users"("Id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Racks" ADD CONSTRAINT "Racks_WarehouseId_fkey" FOREIGN KEY ("WarehouseId") REFERENCES "Warehouse"("Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RolePermissions" ADD CONSTRAINT "RolePermissions_PermissionId_fkey" FOREIGN KEY ("PermissionId") REFERENCES "Permissions"("Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RolePermissions" ADD CONSTRAINT "RolePermissions_RoleId_fkey" FOREIGN KEY ("RoleId") REFERENCES "Roles"("Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Sessions" ADD CONSTRAINT "Sessions_UserId_fkey" FOREIGN KEY ("UserId") REFERENCES "Users"("Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Transfers" ADD CONSTRAINT "Transfers_CargoId_fkey" FOREIGN KEY ("CargoId") REFERENCES "Cargo"("Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Transfers" ADD CONSTRAINT "Transfers_FromWarehouseId_fkey" FOREIGN KEY ("FromWarehouseId") REFERENCES "Warehouse"("Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Transfers" ADD CONSTRAINT "Transfers_ToWarehouseId_fkey" FOREIGN KEY ("ToWarehouseId") REFERENCES "Warehouse"("Id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Transfers" ADD CONSTRAINT "Transfers_TransferredBy_fkey" FOREIGN KEY ("TransferredBy") REFERENCES "Users"("Id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserRoles" ADD CONSTRAINT "UserRoles_RoleId_fkey" FOREIGN KEY ("RoleId") REFERENCES "Roles"("Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserRoles" ADD CONSTRAINT "UserRoles_UserId_fkey" FOREIGN KEY ("UserId") REFERENCES "Users"("Id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Warehouse" ADD CONSTRAINT "Warehouse_CreatedBy_fkey" FOREIGN KEY ("CreatedBy") REFERENCES "Users"("Id") ON DELETE SET NULL ON UPDATE CASCADE;

